<article id="welcome">
<h1>Welcome to Social Scriptura</h1>
<p>The purpose of this website is to make it easy to read and share personal notes about the Bible with people you know.
</br>
<p>Once you create an account, you can start posting notes that people you friend on Social Scriptura can see. Your notes are private, so only you and people you friend will be able to see them.</p>
<%= image_tag image_path('SocialScripturaScreenshot.png') %>
</br>
</br>
I would love to hear your feedback! Send emails to <a href="mailto:SocialScriptura+suggestions@gmail.com">SocialScriptura+suggestions@gmail.com</a> with any suggestions or <a href="mailto:SocialScriptura+bugs@gmail.com">SocialScriptura+bugs@gmail.com</a> if you notice any bugs.</p>
</article>