/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= jquery-ui
 *= require jquery-ui/core
 *= require jquery-ui/autocomplete
 *= require foundation_and_overrides
 *= require font-awesome
 */

 #search_button {
  background-color: #de2a2a;
  
  &:hover {
    background-color: darken(#de2a2a, 10%)
  }
 }

 #community:hover, #read_and_comment:hover, #current_user:hover, #logout:hover, #sign_up:hover, #login:hover {
   background: darken(#de2a2a, 10%)
 }

